
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background-color: #F6F4EB; 
  color: #fff;
  line-height: 1.6;
  padding: 0;
  margin: 0;
}

.content {
    padding: 2rem;
}

.head {
  background-color: #749BC2;
  color: #fff;
  padding: 15px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 10px;
  box-shadow: 0 3px 6px rgba(0,0,0,0.3);
}

.logo {
    width: 50px;
    height: 50px;
    border: 2px solid #4682A9;
    border-radius: 100%;
}

.logoTitulo {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
    font-size: 1.5rem;
    font-weight: bold;
    color: #FFF;
    
}

.header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    background-color: #749BC2;
    padding: 0.5rem;
}

.home-button {
    background-color: #91C8E4; 
    border: none;
    padding: 1rem 2rem;
    color: #F6F4EB;
    border-radius: 24px;
    font-size: large;
}

.home-button:hover {
    cursor: pointer;
    scale: 1.05;
    transition: all 0.3s ease-in-out;
    background-color: #4682A9;
    border: #F6F4EB 0.2rem solid;
}

.textoPrincipal {
  background-color: #ffff;
  padding: 25px;
  margin: 20px 0;
  border-radius: 10px;
  box-shadow: 0 3px 6px rgba(0,0,0,0.3);
  color: #000;
}

.textoPrincipal h1 {
  font-size: 26px;
  margin-bottom: 15px;
  text-align: center;
}

.textoPrincipal p {
  font-size: 16px;
  line-height: 1.6;
  color: #000000;
  text-align: center;
}


.topicos {
  background-color: #fff;
  color: #000;
  margin: 20px auto;
  padding: 25px 20px;
  border-radius: 12px;
  width: 90%;
  max-width: 800px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.2);
  text-align: left;
}

.topicos img.card-img {
  display: block;
  margin: 0 auto 15px auto;
  width: 60px;
  height: 60px;
}

.topicos h3 {
  text-align: center;
  margin-bottom: 10px;
}

.topicos p {
  margin-bottom: 10px;
}

.topicos ul {
  margin-left: 20px;
  margin-bottom: 10px;
  list-style-type: disc;
  color: #000;
}


@media (max-width: 768px) {
  .topicos {
    width: 100%;
    padding: 20px;
  }
}
